@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');

.page-buttons {
    display: flex;
    justify-content: space-evenly;
    font-family: Orbitron;
    font-size: 20px;
    color: red;
}

.page-buttons button {
    font-family: Orbitron;
    font-size: 20px;
    color: red;
    margin: 2px;
    padding: 0 10px;
    width: auto;
    height: 50px;
    border-radius: 12px;
    border-color: red;
}