@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');

.search-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

.search-input {
    margin: 2px;
    width: 20%;
    height: 50px;
    border-radius: 12px;
    font-size: 20px;
    padding: 0 10px;
    font-family: Orbitron;
  }

.search-button {
    margin: 2px;
    background-color: white;
    border-color: red;
    border-radius: 12px;
    color: red;font-size: 20px;
    font-family: Orbitron;
    transition-duration: 0.5s;
}

.search-button:hover {
    background-color: red;
    border-color: red;
    color: white;
}